<!-- nav menu -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary navbar-fixed-top">
    <a class="navbar-brand abs active" href="#"><img id="mobile-icon" src="assets/images/macadons-logo-plain-122x90.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link navbar-font-color" href="https://docs.google.com/forms/d/e/1FAIpQLSeidRQrKddAHt0nY5zsyrlaxN7wcJdQFzukFQfi_0CzMemWjA/viewform">ORDER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#product">SHOP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#flavors">FLAVORS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#location">FIND US</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/macadons/" aria-expanded="false">
                <span class="display-5 socicon socicon-instagram mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/MacadonsSeattle/" aria-expanded="false">
                <span class="display-5 socicon socicon-facebook mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.yelp.com/biz/macadons-seattle" aria-expanded="false">
                <span class="display-5 socicon socicon-yelp mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- PARALAX START --> 
<div id="home">
    <div class="container-fluid">
    <h2 id="main-title">Beautifully Crafted. Flavorful.</h2>
	<h1 mbr-section-title>MACARONS</h1>
    </div>
</div> 

<div id="product">
	<!-- SHOWCASE PRODUCTS -->
	<div class="features16 cid-product-option" id="features16-n">
	    
	    <div class="container-fluid align-center">
	        <h2>SHOP</h2>
	        <img id="divider-position_1" src="./assets/images/new_divider.jpg">
	        
	        <div class="row media-row">
	            
	        	<div class="team-item col-lg-3 col-md-6">
	                <div class="item-image">
	                    <img src="./assets/images/macaron-tower.png" alt="text divider">
	                </div>
	                <div class="py-3">
	                    <div class="item-name px-2">
	                        <p class="mbr-fonts-style display-5"></p>
	                    </div>
	                    <div class="item-role px-2">
	                        <p class="p-font">MACAROON TOWER</p>
                            <div class="vertical-line"></div>
	                        <p class="p-font">$74 - $380</p>
	                    </div>
	                    
	                </div>
	            </div>
	            <div class="team-item col-lg-3 col-md-6">
	                <div class="item-image">
	                    <img src="./assets/images/dozen_mac.jpg" alt="dozen macaron in box">
	                </div>
	                <div class="py-3">
	                    <div class="item-name px-2">
	                        <p class="mbr-fonts-style display-5"></p>
	                    </div>
	                    <div class="item-role px-2">
	                        <p class="p-font">MACADON BOX</p>
                            <div class="vertical-line"></div>
	                        <p class="p-font">$11 - $20</p>
	                    </div>
	                </div>
	            </div>
	            <div class="team-item col-lg-3 col-md-6">
	                <div class="item-image">
	                    <img src="./assets/images/custom_print.png" alt="" title="">
	                </div>
	                <div class="py-3">
	                    <div class="item-name px-2">
	                        <p class="mbr-fonts-style display-5"></p>
	                    </div>
	                    <div class="item-role px-2">
	                        <p class="p-font">CUSTOM PRINT</p>
                            <div class="vertical-line"></div>
	                        <p class="p-font">Price Varies</p>
	                    </div> 
	                </div>
	            </div>
	            <div class="team-item col-lg-3 col-md-6">
	                <div class="item-image">
	                    <img src="./assets/images/ice_cream_mac.png" alt="" title="">
	                </div>
	                <div class="py-3">
	                    <div class="item-name px-2">
	                        <p class="mbr-fonts-style display-5"></p>
	                    </div>
	                    <div class="item-role px-2">
	                        <p class="p-font">MACARON ICECREAM</p>
                            <div class="vertical-line"></div>
	                        <p class="p-font">$5</p>
	                    </div>
	                </div>
	            </div>
	        </div>    
	    </div>
	</div>

	<!-- 'MORE PRODUCT INFO' BUTTON -->
	<div class="mbr-section content8 cid-more-info" id="content8-t">

	    <div class="container">
	        <div class="media-container-row title">
	            <div class="col-12 col-md-8">
	                <div class="mbr-section-btn align-center">
                        <a class="btn btn-black-outline display-4" href="/shop">More Options</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div> 

<div id="flavors">
    
    <div class="container-fluid">
        <div class="media-container-row">
            <div class="col-12 col-md-12">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 60%;">
                      <img id="flavor-img" src="./assets/images/macadon-flavor-list.jpg" alt="flavor list">  
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div> 
<div id="location">
	<h2>LOCATIONS</h2>
	<img class="bot-padding divider" id="divider-position_2" src="./assets/images/new_divider.jpg" alt="text divider">

	<div id="map_wrapper">
    	<div id="map_canvas" class="mapping"></div>
	</div>
</div>

<!-- <div id="slide5">

</div>  -->

<!-- FOOTER -->
<div class="cid-qLMRvnf0yV" id="footer1-7">

    <div class="container">
        <div class="media-container-row container text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="https://www.yelp.com/biz/macadons-seattle">
                        <img src="assets/images/macadons-logo-192x142.png" alt="Macadons logo">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <a href="/faq" class="text-white"><h5 class="pb-3">FAQs</h5></a>
                <a href="#flavors" class="text-white"><h5 class="pb-3">FLAVORS</h5></a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeidRQrKddAHt0nY5zsyrlaxN7wcJdQFzukFQfi_0CzMemWjA/viewform" class="text-white"><h5 class="pb-3">ORDER NOW</h5></a>
                <!-- <p class="mbr-text">Seattle WA<br>(White Center)</p> -->
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    CONTACTS
                </h5>
                <p class="mbr-text">
                    Email: info@macadons.com<br>Phone: 206-359-5882<br></p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 Macadons - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <!-- instagram icon link -->
                            <a href="https://www.instagram.com/macadons/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <!-- facebook icon link -->
                            <a href="https://www.facebook.com/MacadonsSeattle/" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>  
                        <div class="soc-item">
                            <!-- yelp icon link -->
                            <a href="https://www.yelp.com/biz/macadons-seattle" target="_blank">
                                <span class="socicon-yelp socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>