
<nav class="navbar navbar-expand-md navbar-dark bg-primary navbar-fixed-top">
    <a class="navbar-brand abs active" href="#"><img id="mobile-icon" src="assets/images/macadons-logo-plain-122x90.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeidRQrKddAHt0nY5zsyrlaxN7wcJdQFzukFQfi_0CzMemWjA/viewform">ORDER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#product">SHOP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#flavors">FLAVORS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#location">FIND US</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/macadons/" aria-expanded="false">
                <span class="display-5 socicon socicon-instagram mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/MacadonsSeattle/" aria-expanded="false">
                <span class="display-5 socicon socicon-facebook mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.yelp.com/biz/macadons-seattle" aria-expanded="false">
                <span class="display-5 socicon socicon-yelp mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- INSTAGRAM PICTURES -->
<section class="mbr-gallery mbr-slider-carousel cid-instagram-carousel instagram-carousel-padding" id="gallery2-j">
    <div class="container-fluid">
        <!-- SnapWidget -->
        <iframe src="https://snapwidget.com/embed/526536" class="snapwidget-widget widget-styling" allowTransparency="true" frameborder="0" scrolling="no"></iframe>
    </div>
</section>

<div class="container">
	<h4>How should I store my macarons?</h4>
	<p>For best results, our macarons should be refrigerated and consumed within 5 days, or they can be frozen upon arrival for up to 6 weeks. Our macarons are best served at room temperature. If you will be storing them in a refrigerator, please allow approximately 10 minutes to reach room temperature or 30 minutes if coming from the freezer.</p>
	<p></p>
	<p></p>
	<h4>Are your macarons Gluten Free?</h4>
	<p>Yes, all our macarons are gluten free except cookie butter and oreo!</p>
	<p></p>
	<p></p>
	<h4>Do your macarons contain nuts?</h4>
	<p>All of our macarons are made with almond flour and some of our macarons contain other tree nuts. We do NOT use any peanuts. Nuts are not part of every recipe but trace amounts of nuts or nut oils can be in any of our products.</p>
	<p></p>
	<p></p>
	<h4>Do your macarons contain dairy?</h4>
	<p>Yes. Most of the fillings found in our original macaron flavors contain cream or butter. Dairy-free options are available.</p>
	<p></p>
	<p></p>
	<h4>Where are your macarons made?</h4>
	<p>We are proud to say that all our macarons are made in Seattle.</p>
	<p></p>
	<p></p>
	<h4>What is the best way to order macarons?</h4>
	<p>Send us an email at info@macadons.com.</p>
	<p></p>
	<p></p>
	<h4>Where are you located?</h4>
	<p>We currently are not a storefront but, we are located in Seattle (White Center). Please view our homepage for a list of locations to find us.</p>
	<p></p>
	<p></p>
	<h4>Do you deliver?</h4>
	<p>Yes, we deliver around the Seattle area. A delivery fee will apply (depending on location).</p>
	<p></p>
	<p></p>
	<h4>Do you ship macarons?</h4>
	<p>We are currently not shipping at this time.</p>
	<p></p>
	<p></p>
	<h4>How much are your macarons?</h4>
	<p>For pricing, please view our product page.</p>
	<a routerLink="/shop">Macadon Prices!</a>
	<p></p>
	<p></p>
	<h4>Have other questions? Reach out directly through our Contact Us page.</h4>
</div>


<!-- FOOTER -->
<div class="cid-qLMRvnf0yV" id="footer1-7">

    <div class="container">
        <div class="media-container-row container text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="https://www.yelp.com/biz/macadons-seattle">
                        <img src="assets/images/macadons-logo-192x142.png" alt="Macadons logo">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <a href="/faq" class="text-white"><h5 class="pb-3">FAQs</h5></a>
                <a href="#flavors" class="text-white"><h5 class="pb-3">FLAVORS</h5></a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeidRQrKddAHt0nY5zsyrlaxN7wcJdQFzukFQfi_0CzMemWjA/viewform" class="text-white"><h5 class="pb-3">ORDER NOW</h5></a>
                <!-- <p class="mbr-text">Seattle WA<br>(White Center)</p> -->
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    CONTACTS
                </h5>
                <p class="mbr-text">
                    Email: info@macadons.com<br>Phone: 206-359-5882<br></p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 Macadons - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <!-- instagram icon link -->
                            <a href="https://www.instagram.com/macadons/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <!-- facebook icon link -->
                            <a href="https://www.facebook.com/MacadonsSeattle/" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>  
                        <div class="soc-item">
                            <!-- yelp icon link -->
                            <a href="https://www.yelp.com/biz/macadons-seattle" target="_blank">
                                <span class="socicon-yelp socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
